*               text=auto

*.png           binary
*.ico           binary

.*              text eol=lf
CODEOWNERS      text eol=lf
Dockerfile      text eol=lf
*.groovy        text eol=lf
*.md            text eol=lf
*.json          text eol=lf
browserslist    text eol=lf
*.js            text eol=lf
*.ts            text eol=lf
*.conf          text eol=lf
*.yaml          text eol=lf
*.html          text eol=lf
*.scss          text eol=lf
*.svg           text eol=lf
